@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

$spotify-green: #1DB954;
$spotify-button: #1ed760;
$other: #747474;
$testing: #838383;


* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    min-height: 100%;
    min-width: 100%;
    background-color: rgb(45, 45, 45);
}

main {
    display: grid;
    justify-items: center;
    height: 100%;
    width: 100%;
    max-width: 800px;
    padding: 20px;
    margin: 0 auto 100px auto;
    color: white;
}

#login-main {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: calc(100vw - 40px); // Doing this because 100% is being weird

    h2 {
        width: 100%;
        font-size: 42px;
        font-weight: 700;
        text-align: center;
        margin: 0;
        margin-top: 3vh;
    }

    h3 {
        text-align: center;
        font-weight: 500;
    }

    #login {
        width: 70%;
        max-width: 400px;
        align-self: center;
        padding: 10px 17px 13px 17px;
        position: absolute; // TODO the document flow based around absolute positions should probably change
        bottom: 175px;
        font-size: 18px;
        font-weight: 500;
        text-align: center;
        text-decoration: none;
        color: white;
        border-radius: 500px;
        background-color: $spotify-green;
        transition: .1s ease-in-out;
        box-shadow: rgba($spotify-green, 0.7) 0 0 15px; // Green glow

        &:hover {
            transform: scale(1.01);
            background-color: lighten($spotify-green, 3%);
        }

        &:active {
            transform: scale(1); // TODO This was off idk why
            background-color: darken($spotify-green, 10%);
            box-shadow: rgba($spotify-green, 0.9) 0 0 15px; 
            // TODO decide about this
        }

        // This fixes the slightly off centered result of vertical-align with Spotify icon
        span {
            position: relative;
            top: 2px;
        }

        .fa-spotify {
            color: inherit;
            font-size: 36px;
            padding-right: 10px;
            vertical-align: middle;
        }
    }

    .wave {
        aspect-ratio: 390/300;
        width: 100%;
        overflow: hidden;
        position: absolute;
        bottom: 0;
        left: 0;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-image: url('../../waves.svg');
        z-index: -1;
    }

    .wave-desktop {
        display: none;
        height: 150px;
        width: 100%;
        overflow: hidden;
        position: absolute;
        bottom: 0;
        left: 0;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-image: url('../../waves-desktop.svg');
        z-index: -1;
    }

    @media only screen and (min-width: 450px) {
        .wave {
            display: none;
        }

        .wave-desktop {
            display: block;
        }
    }

    footer {
        height: 60px;
        width: 100%;
        position: absolute;
        bottom: 20px;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: 40px;

        a {
            text-decoration: none;
            color: white;
            font-size: 42px;
            filter: drop-shadow(0 0 8px rgba(45, 45, 45, 1));
        }
    }
}