@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

$spotify-green: #1DB954;
$spotify-button: #1ed760;
$other: #747474;
$testing: #838383;
$light-text: #B3B3B3;
$dark-75: #4B4B4B;
$progress: #4AACF5;


* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    min-height: 100%;
    min-width: 100%;
    background-color: rgb(45, 45, 45);
}

main {
    display: grid;
    justify-items: center;
    height: 100%;
    width: 100%;
    max-width: 800px;
    padding: 20px;
    margin: 0 auto;
    color: white;
}

.time {
    // padding-top: 15px;
    width: 100%;

    .time-button-title {
        margin: 0;
        text-align: center;
        font-size: 18px;
        font-weight: 600;
    }

    .time-buttons {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 3%;
        padding: 15px 5px 15px 5px;
        margin: 0 auto;
        max-width: 625px;

        button {
            font-family: 'Open Sans', sans-serif;
            font-size: 16px;
            font-weight: 500;
            width: 100%;
            max-width: 175px;
            justify-self: center;
            padding: 8px;
            border: none;
            border-radius: 4px;
            color: white;
            background-color: rgba(0, 0, 0, 0);
            border: 2px solid #4b4b4b;
            transition: .05s ease-in-out;
            cursor: pointer;

            &:hover {
                border: 2px solid whitesmoke;
            }
    
            &:active {
                border: 2px solid $spotify-green;
            }
        }
    }

    #active-time {
        background-color: $spotify-green;
        transform: scale(.98);
        transition: .05s ease-in-out;
        border: none;
        color: rgb(45, 45, 45);
        font-weight: 600;

        &:hover {
            transform: scale(.98);

        }
    }
}

.chart-title {
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    padding: 10px 0 15px 0;
}

.chart-container {
    width: calc(100vw - 40px);
    max-width: 600px;
    margin: 0 auto 20px auto;

    #genreChart {
        height: 100%!important; // !important used to override chartJS inline sizing
        width: 100%!important;
    }

    #artistSongsChart {
        min-height: 400px!important;
        width: 100%!important;
    }
}

#bar-container {
    position: relative;
}    

.top-lists {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    gap: 20px;
    margin-top: 20px;
    width: 100%;
}

h4 {
    text-align: center;
    font-size: 26px;
    font-weight: 600;
    margin: 0;
}

.top-artists, .top-songs {
    padding: 0;
    margin-top: 10px;

    .extended-artists, .extended-songs {
        display: none;
    }

    .list-legend {
        color: $light-text;
        justify-items: center;
        border-bottom: 1px solid hsla(0,0%,100%,.1);;
        border-radius: 0px;
        margin-bottom: 20px;
        height: 40px;

        .legend-title {
            justify-self: baseline;
            letter-spacing: 2px;
            padding-left: 70px;
            font-size: 12px;
            grid-column: span 2;
        }

        .legend-popularity {
            font-size: 12px;
            letter-spacing: 2px;
            justify-self: right;
            padding-right: 27px;
        }

        &:hover {
            background-color: rgb(45, 45, 45); // Patchwork fix for hover effect
        }
    }

    // This ensures that, in the event there aren't enough songs or artists to display, the empty li's are not rendered
    .no-data {
        display: none!important;
    }
}

li {
    display: grid;
    grid-template-columns: 45px 55px 1fr 80px 50px;
    align-items: center;
    height: 55px;
    border-radius: 3px;
    padding-right: 5px;

    &:hover {
        // background-color: rgb(200, 200, 200);
        background-color: $dark-75;

        .li-number {
            display: none;
        }

        .num-play {
            display: block;
        }

        // Accounts for insufficent contrast of dimmed popularity on li hover
        .li-popularity {
            .dimmed {
                color: rgb(20, 20, 20);
            }
        }
    }

    .li-number, .num-play {
        justify-self: center;
    }
    .num-play {
        display: none;
        position: relative;
        text-decoration: none;
        cursor: pointer;

        &:hover {
            .tooltip {
                opacity: 1;
                visibility: visible;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }
    }

    .li-image {
        height: 45px;
        border-radius: 2px;
        overflow: hidden;
        justify-self: center;
        // border: 3px solid gray;
    }

    .li-name, .list-subtext {
        text-decoration: none;
        color: white;
        // Below is for dynamic ellipsis and text box size for links
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        width: fit-content;
        max-width: 100%;
    }

    .list-subtext {
        font-size: 13px;
        // color: rgb(90, 90, 90);
        color: $light-text;

        &:hover {
            // color: black;
            color: white;
            text-decoration: underline;
        }
    }

    .li-text {
        display: flex;
        flex-direction: column;
        padding: 0 15px;
        margin: 0;
        overflow: hidden;
    }

    .li-popularity {
        display: flex;
        // justify-self: center;

        .popularity {
            letter-spacing: -4px;
            padding-bottom: 4px;
        }

        .highlighted {
            color: white;
        }

        .dimmed {
            color: $dark-75;
        }
    }

    .duration {
        color: $light-text;
        font-size: 13px;
        font-weight: 400;
        text-align: center;
    }
}


.see-more-button {
    padding-left: 10px;
    color: $light-text;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    cursor: default;

    &:hover {
        color: white;
    }
}

.all-ratings {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 20px;
    place-items: center;
    padding-top: 20px;
    width: 100%;
    // max-width: 100vw;

    .rating-container {
        height: 150px;
        width: 150px;
        position: relative;
        
        .rating-canvas {
            height: 100%;
            width: 100%;
            object-fit: cover;
            transform: rotate(-88deg);
        }
    
        .circle {
            display: grid;
            justify-items: center;
            height: 118px;
            width: 118px;
            // background-color: rgb(230, 230, 230);
            z-index: 1;
            position: absolute;
            top: 0;
            left: 0;
            margin: 16px 0 0 16px;
            border-radius: 50%;
        }
    
        .rating-number {
            height: 65px;
            display: inline-block;
            margin: 0;
            font-size: 52px;
            font-weight: 500;
            line-height: 80px;
            align-self: end;
        }
    
        .rating-title {
            padding-bottom: 20px;
            margin: 0;
            font-weight: 500;
        }
    }
}

.recs-container {
    width: 100%;
    padding-top: 25px;

    ul {
        margin: 0;
        padding: 10px 0;
    }

    #rec-refresh {
        background: none;
        border: none;
        padding-left: 10px;
        color: $light-text;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 1px;
        cursor: default;
    
        &:hover {
            color: white;
        }
    }
}

.filter-title {
    padding-top: 20px;
}

.filters-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(247.5px, 1fr));
    justify-content: space-evenly;
    gap: 15px;
    width: 100%;
    margin-top: 20px;
    padding: 15px;
    box-shadow: inset rgba(0, 0, 0, .4) 0 0 12px;
    border-radius: 3px;



    .filter-option {
        position: relative;
        border-radius: 4px;
        padding: 7px;
        background-color: rgb(50, 50, 50);

        &:has(.checkbox:checked) {
            box-shadow: rgba(10, 10, 10, .4) 0 0 12px;
        }

        #popularity-toggle {
            width: 30px;
        }

        .slider-title-container {
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 5px;

            .slider-title {
                width: fit-content;
                white-space: nowrap;
                overflow: hidden;
                text-align: center;
                font-size: 18px;
                margin: 0;
                padding-left: 30px; // Compensate for push of info to recenter
            }
    
            i {
                font-size: 20px;
                padding-left: 10px;
                color: rgb(100, 100, 100);
                z-index: 1;
                cursor: pointer;
    
                &:hover {
                    color: rgb(140, 140, 140);
                    // z-index: 5;
                }
    
                &:active ~ .tooltip {
                    opacity: 1;
                    visibility: visible;
                }
            }
            
            .tooltip {
                opacity: 0;
                // margin-left: -1px;
                // padding: 4px;
                width: calc(100% - 10px);
                bottom: 5px;
                cursor: default;
    
                &:hover {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }


        .slider-container {
            height: 40px;
            display: grid;
            grid-template-columns: 50px 5fr 42px;
            gap: 10px;
            justify-items: center;
            align-items: center;
            padding: 0 5px;

            .toggle-container {
                .checkbox {
                    display: none;
                    position: relative;
                    user-select: none;
                    transition: .2s ease-in-out;
                    height: 30px;
                    width: 50px;
                    border: 1px solid #e4e4e4;
                    border-radius: 60px;
                    opacity: 0;
                }
    
                label {
                    position: relative;
                    display: block;
                    transition: .2s ease;
                    height: 24px;
                    width: 42px;
                    border-radius: 60px;
                    user-select: none;
                    cursor: pointer;
                    outline: none;
                    z-index: 2;
    
    
                    &::before, &::after {
                        display: block;
                        position: absolute;
                        top: 1px;
                        left: 1px;
                        bottom: 1px;
                        right: 1px;
                        content: "";
                        transition: .1s ease-in-out;
                    }
    
                    &::before {
                        background-color: rgb(80, 80, 80);
                        border-radius: 30px;
                    }
    
                    &::after {
                        width: 21px;
                        background-color: rgb(240, 240, 240);
                        box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
                        border-radius: 100%;
                    }
                }
    
                .checkbox:checked {
    
                    & + label {
                        &::before {
                            background-color: $spotify-green;
                        }
        
                        &::after {
                            margin-left: 20px;
                        }
                    }
                }
            }
        
            .slider {
                background: linear-gradient(to right, $progress, 0%, 
                $progress, 50%, $dark-75 50%, $dark-75 100%);
                border-radius: 8px;
                height: 10px;
                width: 100%;
                outline: none;
                transition: background 450ms ease-in;
                appearance: none;
                -webkit-appearance: none;

                &::-webkit-slider-thumb {
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    appearance: none;
                    -webkit-appearance: none;
                    cursor: ew-resize;
                    background: #B3B3B3;
                    box-shadow: 0 0 6px rgba(0, 0, 0, .3);
                }
            }

            // Fixes mode slider's default gradient fill being 50% instead of 100%
            #mode-slider {
                background: linear-gradient(to right, $progress, 0%, $progress, 100%, $dark-75 100%, $dark-75 100%);
            }

            .slider-value {
                // padding-left: 10px;
                padding: 2px 5px;
                // border: 2px solid $progress;
                border-radius: 4px;
                min-width: 32px;
                max-width: 41px;
                text-align: center;
                color: white;
                box-shadow: inset rgba(0, 0, 0, .5) 0 0 10px;
            }
        }

        .unselected {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            height: 100%;
            width: 100%;
            border-radius: 4px;
            background-color: rgba(60, 60, 60, .5);
        }
    }
}

.tooltip {
    opacity: 0;
    visibility: hidden;
    transition: opacity .1s ease-in-out;
    position: absolute;
    font-family: 'Open Sans', sans-serif; // Font settings here to overide inherited FontAwesome styling
    font-weight: 500;
    font-size: 14px;
    width: fit-content;
    max-width: calc(100vw - 50px);
    margin-top: -34px;
    color: white;
    background-color: rgb(60, 60, 60);
    box-shadow: rgba(0, 0, 0, 0.5) 0 2px 10px;
    padding: 7px 10px;
    border-radius: 3px;
    z-index: 4;
}

// General mobile changes (mostly padding atm)
@media only screen and (max-width: 450px) {
    main {
        padding: 10px;
    }

    .chart-container {
        width: calc(100vw - 20px);
    }

    .filters-container {
        gap: 10px;
        padding: 10px;
    }
}

// Ratings grid breakpoint
@media only screen and (max-width: 525px) {
    .all-ratings {
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }
}

// Restructer li's to remove popularity etc.
@media only screen and (max-width: 600px) {
    .legend-title {
        grid-column: span 3!important;
    }

    .li-text {
        grid-column: span 2;
    }
    
    .legend-popularity, .li-popularity {
        display: none;
    }

    .li-popularity {
        display: none!important;
    }
}

@media only screen and (min-width: 750px) {
    .filters-container {
        width: 734px; // Fixes filters grid auto wrapping to 4 & 2 by limmiting width barely below the natural max (still looks good/nomral
    }
}

#button {
    position: absolute;
}