@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");
* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  min-height: 100%;
  min-width: 100%;
  background-color: #2d2d2d;
}

main {
  display: grid;
  justify-items: center;
  height: 100%;
  width: 100%;
  max-width: 800px;
  padding: 20px;
  margin: 0 auto;
  color: white;
}

.time {
  width: 100%;
}
.time .time-button-title {
  margin: 0;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}
.time .time-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3%;
  padding: 15px 5px 15px 5px;
}
.time .time-buttons button {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  padding: 8px;
  border: none;
  border-radius: 4px;
  color: whitesmoke;
  background-color: #747474;
  transition: 0.1s ease-in-out;
  cursor: pointer;
}
.time .time-buttons button:hover {
  transform: scale(1.02);
  background-color: #7c7c7c;
}
.time .time-buttons button:active {
  transform: scale(1);
  background-color: #5b5b5b;
}
.time #active-time {
  background-color: #1DB954;
  transition: 0.1s ease-in-out;
}
.time #active-time:hover {
  transform: scale(1);
}

.chart-title {
  font-size: 32px;
  font-weight: 600;
  text-align: center;
  margin: 15px 0;
}

.chart-container {
  width: calc(100vw - 40px);
  max-width: 600px;
  margin: 0 auto 20px auto;
}
.chart-container #genreChart {
  height: 100% !important;
  width: 100% !important;
}
.chart-container #artistSongsChart {
  min-height: 400px !important;
  width: 100% !important;
}

#bar-container {
  position: relative;
}

.top-lists {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  gap: 20px;
  margin-top: 20px;
  width: 100%;
}

h4 {
  text-align: center;
  font-size: 26px;
  font-weight: 600;
  margin: 0;
}

.top-artists, .top-songs {
  padding: 0;
  margin-top: 10px;
}
.top-artists .extended-artists, .top-artists .extended-songs, .top-songs .extended-artists, .top-songs .extended-songs {
  display: none;
}
.top-artists .list-legend, .top-songs .list-legend {
  color: #B3B3B3;
  justify-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 0px;
  margin-bottom: 20px;
  height: 40px;
}
.top-artists .list-legend .legend-title, .top-songs .list-legend .legend-title {
  justify-self: baseline;
  letter-spacing: 2px;
  padding-left: 70px;
  font-size: 12px;
  grid-column: span 2;
}
.top-artists .list-legend .legend-popularity, .top-songs .list-legend .legend-popularity {
  font-size: 12px;
  letter-spacing: 2px;
  justify-self: right;
  padding-right: 27px;
}
.top-artists .list-legend:hover, .top-songs .list-legend:hover {
  background-color: #2d2d2d;
}
.top-artists .no-data, .top-songs .no-data {
  display: none !important;
}
.top-artists li, .top-songs li {
  display: grid;
  grid-template-columns: 45px 55px 1fr 80px 50px;
  align-items: center;
  height: 55px;
  border-radius: 3px;
  padding-right: 5px;
}
.top-artists li:hover, .top-songs li:hover {
  background-color: #4b4b4b;
}
.top-artists li:hover .li-number, .top-songs li:hover .li-number {
  display: none;
}
.top-artists li:hover .num-play, .top-songs li:hover .num-play {
  display: block;
}
.top-artists li:hover .li-popularity .dimmed, .top-songs li:hover .li-popularity .dimmed {
  color: #141414;
}
.top-artists li .li-number, .top-artists li .num-play, .top-songs li .li-number, .top-songs li .num-play {
  justify-self: center;
}
.top-artists li .num-play, .top-songs li .num-play {
  display: none;
  position: relative;
  text-decoration: none;
  cursor: pointer;
}
.top-artists li .num-play:hover .tooltip, .top-songs li .num-play:hover .tooltip {
  opacity: 1;
}
.top-artists li .li-image, .top-songs li .li-image {
  height: 45px;
  border-radius: 3px;
  overflow: hidden;
  justify-self: center;
}
.top-artists li .li-name, .top-artists li .list-subtext, .top-songs li .li-name, .top-songs li .list-subtext {
  text-decoration: none;
  color: white;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: fit-content;
  max-width: 100%;
}
.top-artists li .list-subtext, .top-songs li .list-subtext {
  font-size: 13px;
  color: #B3B3B3;
}
.top-artists li .list-subtext:hover, .top-songs li .list-subtext:hover {
  color: white;
  text-decoration: underline;
}
.top-artists li .li-text, .top-songs li .li-text {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
  margin: 0;
  overflow: hidden;
}
.top-artists li .li-popularity, .top-songs li .li-popularity {
  display: flex;
}
.top-artists li .li-popularity .popularity, .top-songs li .li-popularity .popularity {
  letter-spacing: -4px;
  padding-bottom: 4px;
}
.top-artists li .li-popularity .highlighted, .top-songs li .li-popularity .highlighted {
  color: white;
}
.top-artists li .li-popularity .dimmed, .top-songs li .li-popularity .dimmed {
  color: #4b4b4b;
}
.top-artists li .duration, .top-songs li .duration {
  color: #B3B3B3;
  font-size: 13px;
  font-weight: 400;
  text-align: center;
}

.see-more-button {
  padding-left: 10px;
  color: #B3B3B3;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  cursor: default;
}
.see-more-button:hover {
  color: white;
}

.all-ratings {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  padding-top: 20px;
  width: 100%;
}
.all-ratings .rating-container {
  height: 150px;
  width: 150px;
  position: relative;
}
.all-ratings .rating-container .rating-canvas {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transform: rotate(-88deg);
}
.all-ratings .rating-container .circle {
  display: grid;
  justify-items: center;
  height: 118px;
  width: 118px;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  margin: 16px 0 0 16px;
  border-radius: 50%;
}
.all-ratings .rating-container .rating-number {
  height: 65px;
  display: inline-block;
  margin: 0;
  font-size: 52px;
  font-weight: 500;
  align-self: end;
}
.all-ratings .rating-container .rating-title {
  padding-bottom: 15px;
  margin: 0;
  font-weight: 500;
}

.tooltip {
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
  position: absolute;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 14px;
  width: fit-content;
  max-width: calc(100vw - 50px);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-top: -34px;
  background-color: #3c3c3c;
  box-shadow: rgba(0, 0, 0, 0.5) 0 2px 10px;
  padding: 7px 10px;
  border-radius: 3px;
}

@media only screen and (max-width: 450px) {
  main {
    padding: 0 10px;
  }

  .chart-container {
    width: calc(100vw - 20px);
  }
}
@media only screen and (max-width: 525px) {
  .all-ratings {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
}
@media only screen and (max-width: 600px) {
  .legend-title {
    grid-column: span 3 !important;
  }

  .li-text {
    grid-column: span 2;
  }

  .legend-popularity, .li-popularity {
    display: none;
  }

  .li-popularity {
    display: none !important;
  }
}
#button {
  position: absolute;
}

/*# sourceMappingURL=soundscape.css.map */
